# The settings are in .env, use "nano .env". Don't edit default.env itself.
COMPOSE_FILE=#Some default yml files here

# Further variables such as RPC, WS ports, P2P ports, NETWORk, SNAPSHOT, LOG_LEVEL, &c

# Secure web proxy - advanced use, please see instructions
DOMAIN=example.com
RPC_HOST=<project>
RPC_LB=<project>-lb
WS_HOST=<projectws>
WS_LB=<project>ws-lb

# IP of the host you want to use in Docker (in case host has several IPs)
HOST_IP=
# IP address to use when host-mapping a port through *-shared.yml. Set this to 127.0.0.1 to restrict the share to localhost
SHARE_IP=

# External Docker network if using ext-network.yml
DOCKER_EXT_NETWORK=traefik_default

# Set a Github tag here to pin the script to a version.
SCRIPT_TAG=

# Used by script update - please do not adjust
ENV_VERSION=1
